@import "variables";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  background: $clr-light;
  color: $clr-dark;
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}