@import "reset";
.profile-pic {
  img {
    height: 300px;
  }
}
section {
  &#skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em;
    .skill-title {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        border-bottom: 1px solid black;
        display: block;
        width: 100%;
        height: 0.1em;
        top: 150%;
        margin: auto;
      }
    }
    ul {
      padding-top: 1em;
      padding-left: 1em;
      li {
        list-style: initial;
      }
    }
  }
  &#projects > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    li {
      .project_title {
        display: flex;
        justify-content: space-between;
        .github_link{
          font-size: 0.9em;
        }
      }
    }
  }
}