@import "reset";
.profile-pic {
  img {
    height: 300px;
  }
}
section {
  &#skills {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    text-align: center;
  }
}